*,
::before,
::after {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  font-family: sans-serif;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon {
  position: fixed;
  top: 9rem;
  left: 0.5rem;
}

.icon--bulb {
  fill: #03031b;
  height: 3rem;
  width: 3rem;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}
.con--circle {
  height: 3rem;
  width: 3rem;
  border: 2px solid green;
  border-radius: 100px;
}
.con::before {
  content: "";
  background-color: green;
  width: 0.12rem;
  display: block;
}

.heading-3 {
  font-size: 5rem;
}

.header {
  flex: 0 0 8rem;
  background-color: rgba(230, 230, 230, 0.95);
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.icon--computer {
  fill: #03031b;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
}

.nav {
  flex-grow: 0.4;
  display: flex;
  justify-content: space-around;
}
.nav__item {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  position: relative;
}
.nav__item:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  margin: 0 10%;
  border-bottom: 2px solid green;
}

.main {
  flex: 1 0 auto;
  background-color: #e6e6e6;
}

.content {
  margin-left: 3rem;
}

.content-home {
  margin: 10rem auto 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 20rem;
}

.social-icons {
  width: 32rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  color: #202020;
}
.social-icons .social-icon {
  fill: currentColor;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  transition: all 0.5s;
}
.social-icons .social-icon:hover {
  transform: scale(1.09);
}

.card {
  width: 80rem;
  padding: 3rem;
  padding-left: 4rem;
  position: relative;
  box-shadow: 1px 5px 20px -6px rgba(0, 0, 0, 0.75);
}

.card a {
  text-decoration: none;
  color: rgb(85, 26, 139);
}
.card__heading {
  border-bottom: 5px solid green;
}
.card .con {
  position: absolute;
  top: 5rem;
  left: -0.5rem;
  height: 100%;
}
.card .con--circle {
  margin-top: 10px;
  border-width: 3px;
}
.card .con::before {
  height: 50%;
  width: 0.2rem;
}
.card__text {
  font-size: 2rem;
}

.clock {
  width: 32rem;
  height: 20rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clock::before,
.clock::after {
  content: "";
  background-color: green;
  width: 0.12rem;
  display: block;
  width: 50%;
  height: 3px;
  transform: perspective(10px) rotateX(1deg);
}

#time {
  font-size: 5.2rem;
  font-family: "Orbitron", sans-serif;
  margin: 3rem auto;
}

.footer {
  flex: 0 0 12rem;
  background-color: #202020;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle::before {
  content: "";
  background-color: green;
  width: 0.12rem;
  display: block;
  width: 12rem;
  height: 0.1rem;
  margin-left: 1rem;
}
.circle--outer,
.circle--inner {
  display: block;
  border: 1.5px solid white;
  border-radius: 100px;
}
.circle--outer {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle--inner {
  height: 6rem;
  width: 6rem;
}

.copyright {
  color: white;
  align-self: end;
  margin-left: auto;
}

.content-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  column-gap: 5rem;
  row-gap: 5rem;
}
.content-work .card {
  width: 100%;
}

.contact {
  width: 90%;
  padding: 2rem 10%;
  margin: 0 auto;
}
.contact__heading {
  text-align: center;
  line-height: 1;
}

form {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 2rem;
  margin-bottom: 1rem;
}
form input,
form textarea {
  margin-bottom: 1.5rem;
  padding: 2rem 1rem;
  width: 100%;
  border: 2px solid green;
  background-color: #cccccc;
  border-right: none;
  border-bottom: none;
  font-size: 2rem;
}
form input:focus,
form textarea:focus {
  outline: none;
}
form .btn {
  border: none;
  align-self: center;
  justify-self: center;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.gallery {
  padding: 2rem;
}
.gallery ul {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 2rem;
}
.gallery li {
  height: 45vh;
  list-style: none;
  flex-grow: 1;
}
.gallery li:last-child {
  flex-grow: 10;
}
.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media only screen and (max-width: 37.5em) {
  .gallery li {
    height: auto;
    width: 100%;
  }
  .gallery img {
    width: 100%;
    max-height: 50vh;
  }
}

.dark {
  background-color: #202020;
  color: white;
}

.dark-2 {
  background-color: #181818;
}

.dark-3 {
  color: #e6e6e6;
}
