.main {
  flex: 1 0 auto;
  background-color: $color-grey;
}

.content {
  margin-left: 3rem;
}

.content-home {
  margin: 10rem auto 15rem;

  width: 100%;

  @include flex-center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 20rem;
}

.social-icons {
  width: 32rem;
  padding: 4rem;

  @include flex-center;
  gap: 5rem;
  flex-wrap: wrap;
  color: $color-dark-1;

  & .social-icon {
    fill: currentColor;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.09);
    }
  }
}

.card {
  width: 80rem;
  margin: 0 2rem;
  padding: 3rem;
  padding-left: 4rem;
  position: relative;

  box-shadow: 1px 5px 20px -6px rgba($color-black, 0.75);
  &__heading {
    border-bottom: 5px solid $color-green;
  }

  & .con {
    position: absolute;
    top: 5rem;
    left: -0.5rem;
    height: 100%;

    &--circle {
      margin-top: 10px;
      border-width: 3px;
    }

    &::before {
      height: 50%;
      width: 0.2rem;
    }
  }

  &__text {
    font-size: 2rem;
  }

  & a {
    text-decoration: none;
    color: rgb(85, 26, 139);
  }
}

.clock {
  width: 32rem;
  height: 20rem;
  align-self: center;

  @include flex-center;
  flex-direction: column;

  &::before,
  &::after {
    @include line-prop;
    width: 50%;
    height: 3px;
    transform: perspective(10px) rotateX(1deg);
  }
}
#time {
  font-size: 5.2rem;
  font-family: "Orbitron", sans-serif;
  margin: 3rem auto;
}

//Responsive
@media only screen and (max-width: 56.25em) {
  .content-home {
    row-gap: 8rem;
  }
}
