$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(0, 0%, 90%);
$color-grey-dark: hsl(0, 0%, 80%);
$color-navy: hsl(240, 79%, 6%);

$color-green: green;
$color-dark-1: #202020;
$color-dark-2: #181818;
