.footer {
  flex: 0 0 14rem;
  background-color: #202020;
  padding: 1rem;

  display: flex;
  align-items: stretch;
  justify-content: space-between;

  &__icons {
    width: 10rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: #e6e6e6;
  }
}

.copyright {
  color: white;
  text-align: center;
  width: 100%;
  align-self: end;
}
