.card {
  width: 80rem;
  padding: 3rem;
  padding-left: 4rem;
  position: relative;
  box-shadow: 1px 5px 20px -6px rgba(0, 0, 0, 0.75);

  &__heading {
    border-bottom: 5px solid green;
  }

  &__text {
    font-size: 2rem;
  }
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;

  &--circle {
    height: 3rem;
    width: 3rem;
    border: 2px solid green;
    border-radius: 100px;
  }

  &::before {
    content: "";
    background-color: green;
    width: 0.12rem;
    display: block;
  }

  & a {
    text-decoration: none;
    color: rgb(85, 26, 139);
  }
}

.card .con {
  position: absolute;
  top: 5rem;
  left: -0.5rem;
  height: 100%;
}
.card .con--circle {
  margin-top: 10px;
  border-width: 3px;
}
.card .con::before {
  height: 50%;
  width: 0.2rem;
}
