*,
::before,
::after {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;

  // border: 1px solid red;
}

html {
  font-size: 65.5%;
  font-family: sans-serif;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
}

// for larger screens
@media only screen and (min-width: 100em) {
  html {
    font-size: 68.5%;
  }
  body {
    font-size: 1.6rem;
  }
}

// for larger screens
@media only screen and (min-width: 125em) {
  html {
    font-size: 78.5%;
  }

  body {
    font-size: 1.9rem;
  }
}

// for larger screens
@media only screen and (min-width: 162.5em) {
  html {
    font-size: 90%;
  }

  body {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 58%;
  }
}
