.content-work {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 5rem;
  row-gap: 5rem;
}
// .content-work .card {
//   width: 100%;
// }
