.content-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  column-gap: 5rem;
  row-gap: 5rem;
}
.content-work .card {
  width: 100%;
}
